name: "Generate Markdown for Starred Github Repository"
on:
  schedule:
    - cron: "*/1 * * * *"
  push:
    branches: [ master ]
  pull_request:
      branches: [ master ]

jobs:
  build:
    name: Generate Markdown File.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.17.1'
      - name: Print Go Version
        run: go version
      - name: Run github-star CLI
        run: go run main.go generate -t ${{ secrets.GH_TOKEN }} -f README.md
      - name: Push New File
        run: echo -e `git config --global user.name 'github-ci' && git config --global user.email 'github-ci@users.noreply.github.com' && git add README.md && git commit -am "README.md file updated with latest starred repo's" && git push`


